.bot-shadow{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.bot-float{
    position: absolute;
    right: 20px;
    bottom: 30px;
    width: 350px;
    height: 500px;
}

.bot-grid{
    display: grid;
    grid-template-rows: 60px auto 50px;
}

.bot-head{
    position: absolute;
    right: 20px;
    bottom: 30px;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    background: #5479f1;
}

.bot-head i{
    font-size: 50px;
    color: #fdfdfe;
}

.center-bot-icon{
    margin: 13px auto;
    display: flex;
    justify-content: center;
}

.bot-header{
    background: #5479f1;
    width: 100%;
    color: #fdfdfe;
    font-weight: bold;
    height: 60px;
}

.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px #31374f;
	   -moz-box-shadow: 0 8px 6px -6px #31374f;
	        box-shadow: 0 8px 6px -6px #31374f;
}

.header-contents{
    display: flex;
    justify-content: space-between;
}

.bot-name{
    padding-left: 10px;
    font-size: 30px;
    font-weight: normal;
    display: flex;
    align-items: center;
    height: 60px;
}

.header-close{
    padding: 8px;
    font-weight: lighter !important;
}

.icon{
    font-size: 20px;
}

.bot-body{
    color: #ffffff;
}

.bot-chat-head-reply{
    color: #31374f;
    background: #f3f6ff;
}

.bot-chat-head-send{
    color: #fdfdfe;
    background: #5479f1;
}

.msg-area{
    padding: 0px 5px 10px 5px;
}

.msg-shadow{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.bot-msg-area{
    background: #e9e9ee;
    color: #31374f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-radius: 25px;
    padding: 0px 15px;
}

.bot-msg-input-area{
    float: left; 
    width: 27.33%; 
    margin: 40px 3%; 
    position: relative;
}

.bot-msg-input{
    background: transparent;
    border: 0; 
    padding: 7px 0; 
    border-bottom: 1px solid #727386;
    outline: none;
    width: 250px;
}

.bot-msg-input ~ .focus-border{
    position: absolute; 
    bottom: 0; 
    left: 50%; 
    width: 0; 
    height: 2px; 
    background-color: #5479f1; 
    transition: 0.4s;
}
.bot-msg-input:focus ~ .focus-border{
    width: 250px; 
    transition: 0.4s; 
    left: 0;
}

.bot-msg-button{
    color: #727386;
    font-size: 20px;
}

.chat-area{
    padding-top:10px;
}

.message{
    width: 80%;
    margin: 3px;
    padding: 10px 5px 10px 5px;
}

.message-user{
    float: right;
    background: #5479f1;
    border-radius: 20px 20px 5px 20px; 
    color: #fdfdfe;
}

.message-bot{
    float: left;
    background: #e9e9ee;
    color: #31374f;
    border-radius: 20px 20px 20px 5px;
}

/* Theme 1
header - #5479f1
body - #ffffff
chat-head - #f3f6ff
msg area - #e9e9ee
button - #727386
font1-#fdfdfe
font2- #31374f */